<!DOCTYPE html>
<html>
  <head>
    <title>GT Bay | <%=title %></title>
    <% include ./partials/head %>	
  </head>
  
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <% include ./partials/header %>
      <% include ./partials/side %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
            <li class="active"><%=title %></li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            
          <div class="row">
              <div class="row">&nbsp;</div>
            <!-- Left col -->
            <section class="col-lg-12 connectedSortable">
              <!-- Horizontal Form -->
                  <div class="box box-info">
                    <div class="box-header with-border">
                      <h3 class="box-title"><%=title%></h3>
                    </div>
                    <!-- /.box-header -->
                    
                    <% if (messages[0]) { %>
                    <div class="callout callout-danger">
                      <h4><i class="fa fa-warning"></i> Errors:</h4>
                      <% for(var i in messages) { %>
                        <div class="flash"><%= messages[i] %></div>
                      <% } %>
                    </div>
                    <% } %>
                    
                    <div class="register-box-body">                   
                    <!-- form start -->   
                    <form class="form-horizontal" action="/item/auction" method="post">  
                        <input type="hidden" id="startingBidPrice" value="<%=startingBid%>">
                      <div class="box-body">
                        <div class="form-group has-feedback">
                          <label class="col-sm-3 control-label">Item ID</label>
                          <div class="col-sm-9 "><%=itemId%>  &nbsp; <button type="button" onClick="window.location.href='/item/sale-rate?id=<%=itemId%>'" class="btn btn-default" id='rateBtn'>View Rating</button></div>
                        </div>
                        <div class="form-group has-feedback">
                          <label class="col-sm-3 control-label">Item Name</label>
                          <div class="col-sm-9 "><%=itemName%></div>
                        </div>
                        <div class="form-group has-feedback">
                          <label class="col-sm-3 control-label">Description</label>
                          <div class="col-sm-9"><%=description%> &nbsp; <button type="button" onClick="window.location.href='/item/auction?id=<%=itemId%>'" class="btn btn-default" id='rateBtn'>Edit Description</button></div>
                        </div>
                        <div class="form-group has-feedback">
                          <label class="col-sm-3 control-label">Category</label>
                          <div class="col-sm-9"><%=category%></div>
                        </div>
                        <div class="form-group has-feedback">
                          <label class="col-sm-3 control-label">Condition</label>
                          <div class="col-sm-9"><%=condition%></div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">Returns Accepted?</label>
                          <div class="col-sm-9"><%=returnable%></div>
                        </div>
                        <% if (getItNowPrice > 0) {%>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">Get It Now price</label>
                          <div class="col-sm-9">$<%=getItNowPrice%> &nbsp; <button type="button" onClick="window.location.href='/item/get-it-now?id=<%=itemId%>'" class="btn btn-default">Get it Now!</button>
                          </div>
                        </div>
                        <% } %>
                        <div class="form-group has-feedback">
                          <label class="col-sm-3 control-label">Auction ends</label>
                          <div class="col-sm-9"><%=auctionLength%></div>
                        </div>
                        
                        <div class="form-group has-feedback">
                          <label class="col-sm-3 control-label">Your bid</label>
                          <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                <input type="text" class="form-control" id="myBidPrice" placeholder="minimum bid is $<%=startingBid%>" name="myBidPrice" onkeyup="checkBidPrice('myBidPrice','startingBidPrice','confirmMessage','bidBtn'); return false;">
                            </div>
                            <span id="confirmMessage" class="confirmMessage"></span>
                          </div>
                          
                        </div>
                      </div>
                      <!-- /.box-body -->
                      <div class="box-footer">
                        <button type="button" onClick="window.location.href=document.referrer" class="btn btn-default">Go Back</button>
                        <button type="submit" class="btn btn-info pull-right" id='bidBtn' disabled="true">Bid On This Item</button>
                      </div>
                      <!-- /.box-footer -->
                      </form>
                    </div>
                  </div>
                  <!-- /.box --> 
            </section><!-- /.Left col -->
            
          </div><!-- /.row -->
          
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <% include ./partials/footer %>
      
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

	<!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 2.1.4 -->
    <script src="/static/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- AdminLTE App -->
    <script src="/static/js/app.min.js"></script>

    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. Slimscroll is required when using the
         fixed layout. -->
	  
	<!-- page script -->
	<% include ./partials/define %>	
    <script>
    function checkBidPrice(p1, p2, m, btn) {
        console.log('checkBidPrice..');
        //Store the bidding price field objects into variables ...
        var bidPrice = document.getElementById(p1);
        var startingBidPrice = document.getElementById(p2);

        //Store the Confimation Message Object ...
        var message = document.getElementById(m);

        //Disable the submit button if the bid price is not valid
        var submitBtn = document.getElementById(btn);

        //Set the colors we will be using ...
        var goodColor = "#66cc66";
        var badColor = "#ff6666";
        //Compare the values in the bidding price field 
        //and the confirmation field
        if(bidPrice.value >= startingBidPrice.value){
            //The bidding price is valid.
            //Set the color to the good color and inform
            //the user that they have entered the valid price 
            bidPrice.style.backgroundColor = goodColor;
            message.style.color = goodColor;
            message.innerHTML = "Valid Bidding Price!"
            submitBtn.disabled = false;
        }else{
            //The bidding price is not valid.
            //Set the color to the bad color and
            //notify the user.
            bidPrice.style.backgroundColor = badColor;
            message.style.color = badColor;
            message.innerHTML = "Bidding Price Is Not Valid!"
            submitBtn.disabled = true;
        }
    }  
        
    var sessionTimeRemaining = <%=sessionTimeOutDuration %>;
    </script>    
	<% include ./partials/bottom %>		
  </body>
</html>
