<!DOCTYPE html>
<html>
  <head>
    <title>GT Bay | New User Registration Page</title>
    <% include ./partials/head %>	
  </head>
  <body class="hold-transition register-page">
    <div class="register-box">
      <div class="register-logo">
        <img src="/static/img/gt-bay.png" alt="GT Bay Image" />
      </div>
		
	  <% if (messages[0]) { %>
	  <div class="callout callout-danger">
		<h4><i class="fa fa-warning"></i> Errors:</h4>
		<% for(var i in messages) { %>
		  <div class="flash"><%= messages[i] %></div>
		<% } %>
	  </div>
	  <% } %>
		
      <div class="register-box-body">
        <p class="login-box-msg">New User Registration </p>
        <form action="/user/signup" method="post">
          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="First name" name="firstName" value="<%=firstName%>">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
		  <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Last name" name="lastName" value="<%=lastName%>">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
		  <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Username" name="username" value="<%=username%>">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password" name="password" id="pass1" value="<%=password%>">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Retype password" id="pass2" onkeyup="checkPass('pass1','pass2','confirmMessage','registerBtn'); return false;">
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
			<span id="confirmMessage" class="confirmMessage"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">
              
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat" id='registerBtn' disabled="true">Register</button>
            </div><!-- /.col -->
          </div>
        </form>

        <a href="/user/signin" class="text-center">I already have a membership</a>
      </div><!-- /.form-box -->
    </div><!-- /.register-box -->

    <!-- jQuery 2.1.4 -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.1/icheck.min.js"></script>
	<!-- password validation -->
	<script src="/static/js/utils.js"></script>
	  
	<% include ./partials/bottom %>	
  </body>
</html>
